<h1>Edit Restaurant</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :details %>
  <%= f.label :details %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>
<%= link_to "See Task", task_path(@task) %>
<%= link_to "List", tasks_path %>

